<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>四个小可爱考试平台_在线考试</title>
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link href="css/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="css/test.css" rel="stylesheet" type="text/css"/>
    <script src="js/vue/vue.min.js"></script>
    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color: #fff;
        }
        textarea{
            width: 700px;
            height: 200px;
            font-size: 18px;
        }
        .options{
            min-height: 40px;
        }
    </style>
    <script>
        var objp =JSON.parse(localStorage.getItem("kaishi"));
        if(objp==null){
            location.href="404.html";
        }
    </script>
</head>

<body>
<div id="app">
    <div class="main">
        <!--nr start-->
        <div class="test_main">
            <div class="nr_left" id="clicks">
                <div class="test">
                    <form>
                        <div class="test_title">
                            <p class="test_time">
                                <i class="icon iconfont">&#xe6fb;</i><b class="alt-1">{{time}}</b>
                            </p>
                            <font><input type="button" name="test_jiaojuan" value="交卷" v-on:click="jiaojuan"></font>
                        </div>
                        <div v-for="item,index in datalist">
                            <div v-if="item.list[0].qbtpye=='单选题'">
                                <div class="test_content">
                                    <div class="test_content_title">
                                        <h2>单选题</h2>
                                        <p>
                                            <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题，</span><span>合计</span><i
                                                class="content_fs">{{item.sum}}</i><span>分</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="test_content_nr">
                                    <ul>
                                        <li :id="['qu_'+index+'_'+indexs]" v-for="items,indexs in item.list">
                                            <div class="test_content_nr_tt">
                                                <i>{{items.tqnum}}</i><span>({{items.tqscore}}分)</span><font>{{items.qbtext}}（
                                                ）</font><b
                                                    class="icon iconfont">&#xe881;</b>
                                            </div>

                                            <div class="test_content_nr_main">
                                                <ul>

                                                    <li class="option" v-for="item1,index1 in items.qboptions">
                                                        <input type="radio" class="radioOrCheck" name="answer1"
                                                               :id="['answer_'+index+'_'+indexs+'_'+index1]"
                                                               v-model="items.answer" :value="zifu[index1]"
                                                        />
                                                        <label :for="['answer_'+index+'_'+indexs+'_'+index1]">
                                                            <!--A.-->
                                                            <p class="ue" style="display: inline;">
                                                                {{item1}}</p>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div v-if="item.list[0].qbtpye=='多选题'">
                                <div class="test_content">
                                    <div class="test_content_title">
                                        <h2>多选题</h2>
                                        <p>
                                            <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题，</span><span>合计</span><i
                                                class="content_fs">{{item.sum}}</i><span>分</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="test_content_nr">
                                    <ul>

                                        <li :id="['qu_'+index+'_'+indexs]" v-for="items,indexs in item.list">
                                            <div class="test_content_nr_tt">
                                                <i>{{items.tqnum}}</i><span>({{items.tqscore}}分)</span><font>{{items.qbtext}}（
                                                ）</font><b
                                                    class="icon iconfont">&#xe881;</b>
                                            </div>

                                            <div class="test_content_nr_main">
                                                <ul>
                                                    <li class="option" v-for="item1,index1 in items.qboptions">
                                                        <input type="checkbox" class="radioOrCheck" name="answer1"
                                                               :id="['answer_'+index+'_'+indexs+'_'+index1]"
                                                               v-model="items.answer" :value="zifu[index1]"
                                                        />
                                                        <label :for="['answer_'+index+'_'+indexs+'_'+index1]">
                                                            <!--A.-->
                                                            <p class="ue" style="display: inline;">
                                                                {{item1}}</p>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div v-if="item.list[0].qbtpye=='判断题'">
                                <div class="test_content">
                                    <div class="test_content_title">
                                        <h2>判断题</h2>
                                        <p>
                                            <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题，</span><span>合计</span><i
                                                class="content_fs">{{item.sum}}</i><span>分</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="test_content_nr">
                                    <ul>
                                        <li :id="['qu_'+index+'_'+indexs]" v-for="items,indexs in item.list">
                                            <div class="test_content_nr_tt">
                                                <i>{{items.tqnum}}</i><span>({{items.tqscore}}分)</span><font>{{items.qbtext}}（
                                                ）</font><b
                                                    class="icon iconfont">&#xe881;</b>
                                            </div>
                                            <div class="test_content_nr_main">
                                                <ul>

                                                    <li class="option">
                                                        <input type="radio" name="answer1"
                                                               id="1_answer_1_option_89" v-model="items.answer"
                                                               value="正确"
                                                        />
                                                        <label for="1_answer_1_option_89" v-model="items.answer"
                                                               value="正确">
                                                            正确
                                                        </label>
                                                    </li>
                                                    <li class="option">
                                                        <input type="radio" name="answer1"
                                                               id="1_answer_1_option_80" v-model="items.answer"
                                                               value="错误"
                                                        />
                                                        <label for="1_answer_1_option_80">
                                                            错误
                                                        </label>
                                                    </li>


                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div v-if="item.list[0].qbtpye=='填空题'">
                                <div class="test_content">
                                    <div class="test_content_title">
                                        <h2>填空题</h2>
                                        <p>
                                            <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题，</span><span>合计</span><i
                                                class="content_fs">{{item.sum}}</i><span>分</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="test_content_nr">
                                    <ul>
                                        <li :id="['qu_'+index+'_'+indexs]" v-for="items,indexs in item.list">
                                            <div class="test_content_nr_tt">
                                                <i>{{items.tqnum}}</i><span>({{items.tqscore}}分)</span><font>{{items.qbtext}}</font><b
                                                    class="icon iconfont">&#xe881;</b>
                                            </div>

                                            <div class="test_content_nr_main">
                                                <ul>

                                                    <li v-for="item1,index1 in items.answer"  class="options">
                                                        <label>
                                                            答案{{index1+1}}
                                                        </label>
                                                        <input type="text" v-model="item1.content"/>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div v-if="item.list[0].qbtpye=='问答题'">
                                <div class="test_content">
                                    <div class="test_content_title">
                                        <h2>问答题</h2>
                                        <p>
                                            <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题，</span><span>合计</span><i
                                                class="content_fs">{{item.sum}}</i><span>分</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="test_content_nr">
                                    <ul>
                                        <li :id="['qu_'+index+'_'+indexs]" v-for="items,indexs in item.list">
                                            <div class="test_content_nr_tt">
                                                <i>{{items.tqnum}}</i><span>({{items.tqscore}}分)</span><font>{{items.qbtext}}</font><b
                                                    class="icon iconfont">&#xe881;</b>
                                            </div>
                                            <div class="test_content_nr_main">
                                                <ul>
                                                    <li  class="option"><textarea v-model="items.answer"></textarea></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div v-if="item.list[0].qbtpye=='程序题'">
                                <div class="test_content">
                                    <div class="test_content_title">
                                        <h2>程序题</h2>
                                        <p>
                                            <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题，</span><span>合计</span><i
                                                class="content_fs">{{item.sum}}</i><span>分</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="test_content_nr">
                                    <ul>
                                        <li :id="['qu_'+index+'_'+indexs]" v-for="items,indexs in item.list">
                                            <div class="test_content_nr_tt">
                                                <i>{{items.tqnum}}</i><span>({{items.tqscore}}分)</span><font>{{items.qbtext}}（
                                                ）</font><b
                                                    class="icon iconfont">&#xe881;</b>
                                            </div>

                                            <div class="test_content_nr_main">
                                                <ul class="optionss">
                                                    <li>
                                                        <form>
                                                        </form>
                                                        <form enctype="multipart/form-data">
                                                            <input type="text" name="tpname" style="display: none;" :value="items.tpname">
                                                            <input type="file" name="fileName" style="width: 200px !important;"/>
                                                            <button  type="button" :onclick="['dd(this,'+index+','+indexs+')']">上传文件</button>
                                                            <span>还未上传文件</span>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="nr_right">
                <div class="nr_rt_main">
                    <div class="rt_nr1" id="datika">
                        <div class="rt_nr1_title">
                            <h1>
                                <i class="icon iconfont">&#xe692;</i>答题卡
                            </h1>
                            <p class="test_time">
                                <i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:40</b>
                            </p>
                        </div>
                        <div v-for="item,index in datalist">
                            <div class="rt_content" v-if="item.list[0].qbtpye=='单选题'">
                                <div class="rt_content_tt" >
                                    <h2>单选题</h2>
                                    <p>
                                        <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题</span>
                                    </p>
                                </div>
                                <div class="rt_content_nr answerSheet">
                                    <ul>
                                        <li v-for="items,indexs in item.list"><a :href="['#qu_'+index+'_'+indexs]">{{items.tqnum}}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="rt_content" v-if="item.list[0].qbtpye=='多选题'">
                                <div class="rt_content_tt">
                                    <h2>多选题</h2>
                                    <p>
                                        <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题</span>
                                    </p>
                                </div>
                                <div class="rt_content_nr answerSheet">
                                    <ul>
                                        <li v-for="items,indexs in item.list"><a :href="['#qu_'+index+'_'+indexs]">{{items.tqnum}}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="rt_content" v-if="item.list[0].qbtpye=='判断题'">
                                <div class="rt_content_tt">
                                    <h2>判断题</h2>
                                    <p>
                                        <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题</span>
                                    </p>
                                </div>
                                <div class="rt_content_nr answerSheet">
                                    <ul>
                                        <li v-for="items,indexs in item.list"><a :href="['#qu_'+index+'_'+indexs]">{{items.tqnum}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rt_content" v-if="item.list[0].qbtpye=='填空题'">
                                <div class="rt_content_tt">
                                    <h2>填空题</h2>
                                    <p>
                                        <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题</span>
                                    </p>
                                </div>
                                <div class="rt_content_nr answerSheet">
                                    <ul>
                                        <li v-for="items,indexs in item.list"><a :href="['#qu_'+index+'_'+indexs]">{{items.tqnum}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rt_content" v-if="item.list[0].qbtpye=='问答题'">
                                <div class="rt_content_tt">
                                    <h2>问答题</h2>
                                    <p>
                                        <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题</span>
                                    </p>
                                </div>
                                <div class="rt_content_nr answerSheet">
                                    <ul>
                                        <li v-for="items,indexs in item.list"><a :href="['#qu_'+index+'_'+indexs]">{{items.tqnum}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rt_content" v-if="item.list[0].qbtpye=='程序题'">
                                <div class="rt_content_tt">
                                    <h2>程序题</h2>
                                    <p>
                                        <span>共</span><i class="content_lit">{{item.sizes}}</i><span>题</span>
                                    </p>
                                </div>
                                <div class="rt_content_nr answerSheet">
                                    <ul>
                                        <li v-for="items,indexs in item.list"><a :href="['#qu_'+index+'_'+indexs]">{{items.tqnum}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--nr end-->
    <div class="foot"></div>
</div>

<script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>

<script src="js/jquery.easy-pie-chart.js"></script>
<!--时间js-->
<script src="time/jquery.countdown.js"></script>
<script>
    window.jQuery(function ($) {
        "use strict";

        $('time').countDown({
            with_separators: false
        });
        $('.alt-1').countDown({
            css_class: 'countdown-alt-1'
        });
        $('.alt-2').countDown({
            css_class: 'countdown-alt-2'
        })

    });


    $(function () {
        $('#clicks').on("click", "li.option", function () {
            // debugger;
            var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
            var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
            // 设置已答题
            if (!cardLi.hasClass('hasBeenAnswer')) {
                cardLi.addClass('hasBeenAnswer');
            }
        })

        $('#clicks').on("click", "li.options", function () {
            // debugger;
            var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
            var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
            // 设置已答题
            if (!cardLi.hasClass('hasBeenAnswer')) {
                cardLi.addClass('hasBeenAnswer');
            }
        })
        $('#clicks').on("click", "ul.optionss", function () {
            // debugger;
            var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
            var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
            // 设置已答题
            if (!cardLi.hasClass('hasBeenAnswer')) {
                cardLi.addClass('hasBeenAnswer');
            }
        })
    });
</script>
</body>
<script>
    var zifu = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
    var vue = new Vue({
        el: "#app",
        data: {
            datalist: [],
            zifu: zifu,
            time:"101:01"
        },
        methods: {
            jiaojuan:function () {
                if($("#datika a.hasBeenAnswer").length!=$("#datika li").length){
                    alert("试题没有做完不能提交")
                }else{
                if(confirm("确定交卷吗")){
                    tijiao();
                }
                }
            }
        }
    });
    //定时器
    var timer=localStorage.getItem("timer");
    vue.time=Math.floor(timer/60)+":"+timer%60;
    $.post("../tqfindbytimu.do", {tpid: objp.id}, function (data) {
        vue.datalist = sortzl(data);
    });
    setTimeout("tijiao()",timer*60*1000);
    //数据处理
    function sortzl(data) {
        for (var i = 0; i < data.length; i++) {
            if (data[i].qbtpye == "单选题") {
                data[i].qboptions = data[i].qboptions.split("/");
                data[i].answer = "";

            } else if (data[i].qbtpye == "填空题") {
                data[i].answer = [];
                for (var j = 0; j < data[i].qboptions; j++) {
                    var obj = new Object();
                    obj.content = ""
                    data[i].answer.push(obj);
                }
            } else if (data[i].qbtpye == "多选题") {
                data[i].qboptions = data[i].qboptions.split("/");
                data[i].answer = [];
            } else if (data[i].qbtpye == "问答题"||data[i].qbtpye == "程序题") {
                data[i].answer = "";
            }

        }
        var name = [];
        for (var i = 0; i < data.length; i++) {
            var flage = true;
            for (var j = 0; j < name.length; j++) {
                if (name[j].dati == data[i].tqbigtitle) {
                    flage = false;
                    break;
                }
            }
            if (flage) {
                var obj = new Object();
                obj.dati = data[i].tqbigtitle;
                obj.list = [];
                name.push(obj);
            }
        }
        for (var k = 0; k < data.length; k++) {
            for (var p = 0; p < name.length; p++) {
                if (name[p].dati == data[k].tqbigtitle) {
                    name[p].list.push(data[k]);
                }
            }
        }
        for (var i = 0; i < name.length; i++) {
            var sum=0;
            name[i].list.forEach(function (item) {
                sum=eval(sum+"+"+item.tqscore);
            });
            name[i].sum=sum;
            name[i].sizes=name[i].list.length;
        }

        for (var i = 0; i < name.length; i++) {
            for (var j = 0; j < name[i].list.length; j++) {
                name[i].list[j].tpname=objp.tpname;
            }
        }

        return name;
    }

    function tijiao() {
        for(var i=0;i<vue.datalist.length;i++){
            for(var j=0;j<vue.datalist[i].list.length;j++){
                if(vue.datalist[i].list[j].qbtpye=="多选题"){
                    vue.datalist[i].list[j].answer=vue.datalist[i].list[j].answer.join("");
                }
                if(vue.datalist[i].list[j].qbtpye=="填空题"){
                    var str="";
                    for(var k=0;k<vue.datalist[i].list[j].answer.length;k++){
                        str+=vue.datalist[i].list[j].answer[k].content.trim();
                        if(k!=vue.datalist[i].list[j].answer.length-1){
                            str+="/";
                        }
                    }
                    vue.datalist[i].list[j].answer=str;
                }
            }
        }
        if(objp.tptype!="安排考试"){
            var arr=[];
            for(var i=0;i<vue.datalist.length;i++){
                for(var j=0;j<vue.datalist[i].list.length;j++) {
                    var object=new Object();
                    for(var sx in objp){
                        object[sx]=objp[sx];
                    }
                    for(var sx1 in vue.datalist[i].list[j]){
                        object[sx1]=vue.datalist[i].list[j][sx1];
                    }
                    object.stpanswer=object.answer;
                    object.stpscore=0;
                    arr.push(object)
                }
            };

            $.post("../saveallstutest.do", {data:JSON.stringify(arr)}, function (data) {
                localStorage.clear();
                alert("提交成功")
                location.href="chengg.html"
            });
        }else{
            var arr=[];
            for(var i=0;i<vue.datalist.length;i++){
                for(var j=0;j<vue.datalist[i].list.length;j++) {
                    var object=new Object();
                    for(var sx in objp){
                        object[sx]=objp[sx];
                    }
                    for(var sx1 in vue.datalist[i].list[j]){
                        object[sx1]=vue.datalist[i].list[j][sx1];
                    }
                    object.snumber=object.username;
                    object.lstpanswer=object.answer;
                    object.lstpgestpscore=0;
                    arr.push(object)
                }
            };
            $.post("../saveallloginstutest.do", {data:JSON.stringify(arr)}, function (data) {
                localStorage.clear();
                alert("提交成功")
                location.href="chengg.html"
            });
        }
    }
    function dd(obj,x,y){
        $.ajax({
            url: '/fileUpload',
            type: 'POST',
            cache: false,
            data: new FormData(obj.parentNode),
            processData: false,
            contentType: false,
            success:function (data) {
                vue.datalist[x].list[y].answer=data;
                obj.parentNode.getElementsByTagName("span")[0].innerHTML=data;
            }
        }).done(function(res) {
        }).fail(function(res) {});
    }
</script>
</html>