<!DOCTYPE html>
<html xmlns:resize="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="js/layui/css/layui.css" />
    <script src="js/layui/layui.js"></script>
    <script src="js/vue/vue.min.js"></script>
</head>
<body>
<div  id="app"  style="width: 800px;margin-left: 80px">
    <table class="layui-table" id="chaxun" >
        <tr>
            <td>试题类型</td>
            <td>
                <input type="text" v-model="type" id="qbtype" readonly="readonly" title="试题类型不能修改"/>
            </td>
            <td>所属分类</td>
            <td>
                <input type="text" v-model="qboutline" readonly="readonly" id="qboutline"/>
            </td>
            <td>试题难度</td>
            <td>
                <select id="qbdifficulty" v-model="qbdifficulty" disabled="disabled">
                    <option value="简单">简单</option>
                    <option value="中等">中等</option>
                    <option value="困难">困难</option>
                    <option value="特别困难">特别困难</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>试题内容</td>
            <td colspan="5">
                <textarea name="reworkmes" style="width:80%;height:80px;resize: none" readonly="readonly" id="qbtext" v-model="qbtext"></textarea>
            </td>
        </tr>
    </table>
    <!--题目内容选择-->
    <div class="center">
        <!--单选题-->
        <table  class="layui-table" v-if="type=='单选题'">
            <tr>
                <th colspan="2">设置正确答案</th>
                <th>选项内容</th>
            </tr>
            <tr v-for="item,index in data.list">
                <td>
                    <input type="radio" name="radios" readonly="readonly" v-bind:value="zifu[index]" v-model="danxuandaan">
                </td>
                <td>
                    {{zifu[index]}}
                </td>
                <td>
                    <input type="text" readonly="readonly" v-model="item.daan"/>
                </td>
            </tr>
            <!--<tr>
                <td colspan="3">
                    <button class="layui-btn" v-on:click="add">添加选项</button>
                    <button class="layui-btn layui-btn-danger" v-on:click="removet">删减选项</button>
                </td>
            </tr>-->
        </table>
        <!--判断题-->
        <table  class="layui-table"  v-if="type=='判断题'">
            <tr>
                <th>选项</th>
                <th>
                    <input type="radio" name="ra" value="正确" v-model="panduanti" readonly="readonly" />正确
                    <input type="radio" name="ra" value="错误" v-model="panduanti" readonly="readonly"/>错误
                </th>
            </tr>
        </table>
        <!--多选题-->
        <table  class="layui-table"  v-if="type=='多选题'">
            <tr>
                <th colspan="2">设置正确答案</th>
                <th>选项内容</th>
            </tr>
            <tr  v-for="item,index in data.anlist">
                <td><input type="checkbox" name="radioduoxuan" v-bind:value="zifu[index]" v-model="duoxuandaan" onclick="return false;"></td>
                <td>{{zifu[index]}}</td>
                <td>
                    <input type="text"  v-model="item.daans" readonly="readonly"/>
                </td>
            </tr>
            <!--<tr>
                <td colspan="3">
                    <button class="layui-btn" v-on:click="add1">添加选项</button>
                    <button class="layui-btn layui-btn-danger" v-on:click="removet1">删减选项</button>
                </td>
            </tr>-->
        </table>
        <!--填空题-->
        <table  class="layui-table"  v-if="type=='填空题'">
            <tr   v-for="item,index in data.tklist">
                <td>正确答案</td>
                <td>
                    填空{{index+1}}答案
                </td>
                <td>
                    <input type="text" v-model="item.tkdaan" readonly="readonly"/>
                </td>
            </tr>
            <!--<tr>
                <td colspan="3">
                    <button class="layui-btn" v-on:click="add2">添加选项</button>
                    <button class="layui-btn layui-btn-danger" v-on:click="removet2">删减选项</button>
                </td>
            </tr>-->
        </table>
        <!--问答题-->
        <table  class="layui-table"  v-if="type=='问答题'">
            <tr >
                <td>正确答案</td>
                <td>
                    参考答案
                </td>
                <td>
                    <textarea style="width: 450px;height: 80px;resize: none" id="wendati" v-model="wendatidaan" readonly="readonly"></textarea>
                </td>
            </tr>
        </table>
        <!--程序题-->
        <table  class="layui-table"  v-if="type=='程序题'">
            <tr >
                <td>正确答案</td>
                <td>
                    参考答案
                </td>
                <td>
                    <textarea style="width: 450px;height: 80px;resize: none" id="chengxuti" v-model="wendatidaan" readonly="readonly"></textarea>
                </td>
            </tr>
        </table>
    </div>

    <!--<table  class="layui-table" id="chaxuns">
        <tr>
            <button class="layui-btn" v-on:click="sava">保存</button>
            <button class="layui-btn layui-btn-primary">保存并关闭</button>
            <button class="layui-btn layui-btn-primary">保存并新增</button>
            <button class="layui-btn layui-btn-primary">关闭</button>
        </tr>
    </table>-->
</div>
</body>
<script>
    var zifu=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
    var data={list:[],anlist:[],tklist:[]}
    var vueapp=new Vue({
        el:"#app",
        data:{
            type:localStorage.getItem("bianjioneqbtype"),
            qboutline:localStorage.getItem("bianjioneqboutline"),
            qbdifficulty:localStorage.getItem("bianjioneqbdifficulty"),
            qbtext:localStorage.getItem("bianjioneqbtext"),
            wendatidaan:localStorage.getItem("bianjioneqbanswer"),
            zifu:zifu,
            data:data,
            danxuandaan:"",
            panduanti:"",
            duoxuandaan:[]
        },
        methods:{
            /*add:function(){//单选题
                var s={daan:""};
                this.data.list.push(s);
                console.log(this.data);
            },
            removet:function(){
                this.data.list.pop();
            },
            add1:function(){//多选题
                var s1={daans:""};
                this.data.anlist.push(s1);
                console.log(this.data);
            },
            removet1:function(){
                this.data.anlist.pop();
            },
            add2:function(){//填空题
                var s2={tkdaan:""};
                this.data.tklist.push(s2);
                console.log(this.data);
            },
            removet2:function(){
                this.data.tklist.pop();
            },*/
            /*sava:function () {
                if(confirm("是否保存试题？")){
                    if($("#qbtype").val()=="单选题"){
                        var stroptions="";
                        var s1=this.data.list;
                        for (var i = 0; i < s1.length; i++) {
                            stroptions=stroptions+zifu[i]+":"+s1[i].daan;
                            if (i<s1.length-1)  stroptions+="/";
                        }
                        $.post("tikubianji.do", {
                            qbid:localStorage.getItem("bianjioneqbid"),
                            qboutline:$("#qboutline").val(),
                            qbtype:$("#qbtype").val(),
                            qbtext:$("#qbtext").val(),
                            qboptions:stroptions,
                            qbanswer:$("input[name='radios']:checked").val(),
                            qbdifficulty:$("#qbdifficulty").val(),
                            qbcreatetime:localStorage.getItem("bianjioneqbcreatetime")
                        }, function (data) {
                            if(data!=null)
                                alert("保存成功");
                        })
                    }
                    if($("#qbtype").val()=="多选题"){
                        var stroptions="";
                        var s1=this.data.anlist;
                        for (var i = 0; i < s1.length; i++) {
                            stroptions=stroptions+zifu[i]+":"+s1[i].daans;
                            if (i<s1.length-1)  stroptions+="/";
                        }
                        console.log(stroptions);
                        var stranswer="";
                        var s2=$("input[type=checkbox]:checked");
                        for (var i = 0; i < s2.length; i++) {
                            stranswer=stranswer+s2[i]._value;
                        }
                        $.post("tikubianji.do", {
                            qbid:localStorage.getItem("bianjioneqbid"),
                            qboutline:$("#qboutline").val(),
                            qbtype:$("#qbtype").val(),
                            qbtext:$("#qbtext").val(),
                            qboptions:stroptions,
                            qbanswer:stranswer,
                            qbdifficulty:$("#qbdifficulty").val(),
                            qbcreatetime:localStorage.getItem("bianjioneqbcreatetime")
                        }, function (data) {
                            if(data!=null)
                                alert("保存成功");
                        })
                    }
                    if($("#qbtype").val()=="判断题"){
                        $.post("tikubianji.do", {
                            qbid:localStorage.getItem("bianjioneqbid"),
                            qboutline:$("#qboutline").val(),
                            qbtype:$("#qbtype").val(),
                            qbtext:$("#qbtext").val(),
                            qboptions:"正确/错误",
                            qbanswer:$("input[name='ra']:checked").val(),
                            qbdifficulty:$("#qbdifficulty").val(),
                            qbcreatetime:localStorage.getItem("bianjioneqbcreatetime")
                        }, function (data) {
                            if(data!=null)
                                alert("保存成功");
                        })
                    }
                    if($("#qbtype").val()=="问答题"){
                        $.post("tikubianji.do", {
                            qbid:localStorage.getItem("bianjioneqbid"),
                            qboutline:$("#qboutline").val(),
                            qbtype:$("#qbtype").val(),
                            qbtext:$("#qbtext").val(),
                            qboptions:"请填写答案",
                            qbanswer:$("#wendati").val(),
                            qbdifficulty:$("#qbdifficulty").val(),
                            qbcreatetime:localStorage.getItem("bianjioneqbcreatetime")
                        }, function (data) {
                            if(data!=null)
                                alert("保存成功");
                        })
                    }
                    if($("#qbtype").val()=="程序题"){
                        $.post("tikubianji.do", {
                            qbid:localStorage.getItem("bianjioneqbid"),
                            qboutline:$("#qboutline").val(),
                            qbtype:$("#qbtype").val(),
                            qbtext:$("#qbtext").val(),
                            qboptions:"请填写答案",
                            qbanswer:$("#chengxuti").val(),
                            qbdifficulty:$("#qbdifficulty").val(),
                            qbcreatetime:localStorage.getItem("bianjioneqbcreatetime")
                        }, function (data) {
                            if(data!=null)
                                alert("保存成功");
                        })
                    }
                    if($("#qbtype").val()=="填空题"){
                        var tkanswer="";
                        var s2=this.data.tklist;
                        for (var i = 0; i < s2.length; i++) {
                            tkanswer=tkanswer+s2[i].tkdaan;
                            if (i<s2.length-1)  tkanswer+="/";
                        }
                        $.post("tikubianji.do", {
                            qbid:localStorage.getItem("bianjioneqbid"),
                            qboutline:$("#qboutline").val(),
                            qbtype:$("#qbtype").val(),
                            qbtext:$("#qbtext").val(),
                            qboptions:"请填写答案",
                            qbanswer:tkanswer,
                            qbdifficulty:$("#qbdifficulty").val(),
                            qbcreatetime:localStorage.getItem("bianjioneqbcreatetime")
                        }, function (data) {
                            if(data!=null)
                                alert("保存成功");
                        })
                    }
                }
            }*/
        }
    })
    // var vuechaxuns=new Vue({
    // 	el:"#chaxuns",
    //
    //
    // })
    var index=layui.use(['element','layer'], function() {
        var element = layui.element;
        var layer = layui.layer;
    });

    var strtype=localStorage.getItem("bianjioneqbtype")
    //单选多选的选项内容
    if(strtype=="单选题"){
        var strdaan=localStorage.getItem("bianjioneqboptions")
        var strdaan1=strdaan.split("/");
        for (var i = 0; i < strdaan1.length; i++) {
            var list=[];
            list.daan=strdaan1[i].substring(2);
            data.list.push(list);
        }
        vueapp.danxuandaan=localStorage.getItem("bianjioneqbanswer");
    }
    if(strtype=="多选题"){
        var strdaans=localStorage.getItem("bianjioneqboptions")
        var strdaans1=strdaans.split("/");
        for (var i = 0; i < strdaans1.length; i++) {
            var anlist=[];
            anlist.daans=strdaans1[i].substring(2);
            data.anlist.push(anlist);
        }
        var duoxuandaan=localStorage.getItem("bianjioneqbanswer");
        for (var i = 0; i < duoxuandaan.length; i++) {
            vueapp.duoxuandaan.push(duoxuandaan[i]);
        }
    }
    if(strtype=="填空题"){
        var strtkdaan=localStorage.getItem("bianjioneqbanswer")
        var strtkdaan1=strtkdaan.split("/");
        for (var i = 0; i < strtkdaan1.length; i++) {
            var tklist=[];
            tklist.tkdaan=strtkdaan1[i];
            data.tklist.push(tklist);
        }
    }
    if(strtype=="判断题"){
        vueapp.panduanti=localStorage.getItem("bianjioneqbanswer");
    }
</script>
</html>
