<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css" />
		<script src="js/layui/layui.js"></script>
		<script src="js/vue/vue.min.js"></script>

		<style>
			#app {
				width: 900px;
				margin: auto;
			}
		</style>
        <script>
            function GetQueryString(name)
            {
                var href=window.location.href;
                var index=href.indexOf("?");
                var str=href.substring(index+1,href.length)
                var arr=str.split("&");

                for(var i=0;i<arr.length;i++){
                    var arr1=arr[i].split("=");
                    return arr1[1];
                }
            }
            var id=2;
            var testmaper=null;
            var name1=[];
            $.ajaxSettings.async = false;
            $.post("../findbyid.do", {id:id}, function (data) {
                if(data!=""){
                        var arr=data.tpwritemessage.split("/");
                        for(var i=0;i<arr.length;i++){
                            var arr1=arr[i].split(":");
                            console.log(arr1[0])
                            if(arr1[0]!="口令"&&arr1[0]!="姓名"){
                            var obj=new Object();
                            obj.t1=arr1[0];
                            obj.t2=arr1[1];
                            obj.t3="";
                            name1.push(obj)}
                        }
                    testmaper = data;
                }else{
                    window.location.href="404.html"
                }
            });
            $.ajaxSettings.async = true;
        </script>
	</head>

	<body>
		<div id="app">
			<table class="layui-table" v-for="item in data">
				<tr>
					<th>四个小可爱的考试系统</th>
				</tr>
				<tr>
					<td>{{item.tpname}}</td>
				</tr>
				<tr>
					<td>有效时间{{item.tpstartdate}}~{{item.tpenddate}}</td>
				</tr>
				<tr>
					<td>试卷总分：{{item.tpscore}}分</td>
				</tr>
				<tr>
					<td>大题时间：{{item.tpdatitime}}分钟</td>
				</tr>
				<tr>
					<td>参加考试，请输入一下信息</td>
				</tr>
			</table>
            <div v-if="type.indexOf('0')!=-1||type.indexOf('1')!=-1">
                <table class="layui-table">
                    <tr>
                        <td>姓名</td>
                        <td><input type="text" v-model="xingming"/></td>
                    </tr>
                </table>
            </div>
			<!--//免登录考试-->
			<div v-if="type.indexOf('0')!=-1">
				<table class="layui-table">
					<tr v-for="item in name1">
						<td>
							{{item.t1}}
						</td>
						<td>
							<input type="text"  v-bind:placeholder="item.t2" v-model="item.t3"/>
						</td>

					</tr>
				</table>
			</div>
			<!--//口令考试-->
			<div  v-if="type.indexOf('1')!=-1">
				<table class="layui-table">
					<tr>
						<td>考试口令</td>
						<td><input type="text" v-model="kouling"/></td>
					</tr>
				</table>
			</div>
			<!--安排考试-->
			<div  v-if="type.indexOf('2')!=-1">
				<table class="layui-table">
					<tr>
						<td >用户名</td>
						<td><input type="text" v-model="username"/></td>
					</tr>
					<tr>
						<td >密码</td>
						<td><input type="password" v-model="pwd"/></td>
					</tr>
				</table>
			</div>
			<div class="btnss">
				<button class="layui-btn layui-btn-radius layui-btn-normal" v-on:click="queding">确定</button>
			</div>
		</div>
	</body>
	<script>
		var vue=new Vue({
			el: "#app",
			data: {
				type:["1"],
                data:[],
                name1:name1,
                kouling:"",
                username:"",
                pwd:"",
                xingming:""
			},
            methods:{
                queding:function () {
                    if(this.type.indexOf('0')!=-1&&this.type.indexOf('1')!=-1){
                        var obj={};
                        obj.tpwritemessage="姓名:"+this.xingming;
                        obj.kouling=this.kouling;
                        obj.sname=this.xingming;
                        obj.id=id;
                        obj.tptype=testmaper.tptype;
                        for(var i=0;i<this.name1.length;i++){
                            obj.tpwritemessage+=this.name1[i].t1+":"+this.name1[i].t3;
                            if(i!=this.name1.length-1){
                                obj.tpwritemessage+="/";
                            }
                        }
                        $.post("../findbyids.do", obj, function (data) {
                            if(data==1){
                                localStorage.setItem("kaishi",JSON.stringify(obj));
                                window.location.href="indexs.html";
                            }else{
                                alert("输入口令错误");
                            }

                        });
                    }else if(this.type.indexOf('0')!=-1&&this.type.length==1){
                        var obj={};
                        obj.sname=this.xingming;
                        obj.tpwritemessage="姓名:"+this.xingming;
                        obj.tptype=testmaper.tptype;
                        for(var i=0;i<this.name1.length;i++){
                            obj.tpwritemessage+=this.name1[i].t1+":"+this.name1[i].t3;
                            if(i!=this.name1.length-1){
                                obj.tpwritemessage+="/";
                            }
                        }
                        localStorage.setItem("kaishi",JSON.stringify(obj));
                        window.location.href="indexs.html";
                    }else if(this.type.indexOf('1')!=-1&&this.type.length==1){
                        var obj={};
                        obj.kouling=this.kouling;
                        obj.sname=this.xingming;
                        obj.id=id;
                        obj.tptype=testmaper.tptype;
                        $.post("../findbyids.do", obj, function (data) {
                            if(data==1){
                                localStorage.setItem("kaishi",JSON.stringify(obj));
                                window.location.href="indexs.html"
                            }else{
                                alert("输入口令错误");
                            }

                        });
                    }else{
                        var obj={username:this.username,pwd:this.pwd}
                        obj.id=id;
                        obj.tptype=testmaper.tptype;
                        $.post("../finduserbyunamepwd.do", obj, function (data) {
                            if(data!=0){
                                localStorage.setItem("kaishi",JSON.stringify(obj));
                                window.location.href="indexs.html"
                            }else{
                                alert("用户名密码错误");
                            }
                        });
                    }
                }
            }
		});
        vue.data[0]=testmaper;
        if(testmaper.tptype.trim()=="免登陆考试"){
            vue.type=["0"]
        }else if(testmaper.tptype.trim()=="口令登录"){
            vue.type=["1"]
        }else if(testmaper.tptype.trim()=="安排考试"){
            vue.type=["2"]
        }else{
            vue.type=["0","1"];
        }
	</script>

</html>