<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>考生管理</title>
		<script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css" />
        <link rel="stylesheet" href="layDate-v5.0.9/layDate-v5.0.9/laydate/theme/default/laydate.css">
		<script src="js/layui/layui.js"></script>
		<script src="js/vue/vue.min.js"></script>

		<style>
			#navul {
				float: left;
			}
			
			#center {
				float: left;
				width: 70%;
			}
			.tdn{

				position: absolute;
			}
		</style>
		<script>
			var indexs;
		</script>



    </head>

	<body>
		<div id="app">
			<ul class="layui-nav layui-nav-tree" lay-filter="test" id="navul">
				<li>
					<li class="layui-nav-item">
						<a href="">全部</a>
					</li>
				</li>
				<li class="layui-nav-item layui-nav-itemed" v-for="items in data">
					<a href="javascript:;">{{items.name}}</a>
					<dl class="layui-nav-child">
						<dd v-for="item in items.list" v-on:click="add(items.name+'/'+item)">
							<a href="javascript:;">{{item}}</a>
						</dd>
					</dl>
				</li>
			</ul>
			<div id="center">
				<table class="layui-table">
					<tr>
						<td>考生管理</td>
						<td>
							<button class="layui-btn layui-btn-primary" id="chaxun">查询</button>
							<button class="layui-btn layui-btn-primary" onclick="addstudent()">新增</button>
							<button class="layui-btn layui-btn-primary">批量导入</button>
							<button class="layui-btn layui-btn-primary" onclick="deleteall()">批量删除</button>
							<button class="layui-btn layui-btn-primary">导出</button>
						</td>
					</tr>
				</table>
				<table class="layui-table" id="chaxuns" style="display: none;">
					<tr >
						<td>
							姓名
						</td>
						<td>
							<input type="text" />
						</td>
						<td>
							创建时间
						</td>
						<td>
							<input type="text" placeholder="请选择日期" id="datatim1"/>
						</td>
						<td>
							<input type="text" placeholder="请选择日期" id="datatim2"/>
						</td>
						<td>
							<button class="layui-btn layui-btn-primary">查询</button>
							<button class="layui-btn layui-btn-primary">重置</button>
						</td>
					</tr>
				</table>
				<table class="layui-table" id="tabless">
					<tr>
						<th><input type="checkbox" v-model="selectall" v-on:click="checkall" />全选</th>
						<th>姓名</th>
						<th>账号</th>
						<th>所属部门</th>
						<th>手机号码</th>
						<th>性别</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
					<tr v-for="item,index in pseons" >
						<td><input type="checkbox" v-model="item.check" name="test"/></td>
						<td>{{item.sname}}</td>
						<td>{{item.snumber}}</td>
						<td>{{item.sdep}}</td>
						<td>{{item.snumber}}</td>
						<td>{{item.ssex}}</td>
						<td>{{item.screatdate}}</td>
						<td>
							<button class="layui-btn layui-btn-warm" v-on:click="banji(index)">编辑</button>
							<button class="layui-btn layui-btn-danger" v-on:click="del(index)">删除</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="bainjishow" style="width: 500px;display: none;">
			<table  class="layui-table" id="chaxuns" v-for="items in bainjishows" >
				<tr>
					<td>账号</td>
					<td>
						<input type="text"  v-model="items.snumber"/>
					</td>
				</tr>
				<tr>
					<td>姓名</td>
					<td>
						<input type="text" v-model="items.sname"/>
					</td>
				</tr>
				<tr>
					<td>密码</td>
					<td>
						<input type="text" v-model="items.spassword"/>
					</td>
				</tr>
				<tr>
					<td>所属部门</td>
					<td>
						<input type="text" v-model="items.sdep"/>
					</td>
				</tr>
				<tr>
					<td>手机号码</td>
					<td>
						<input type="text" v-model="items.snumber"/>
					</td>
				</tr>
				<tr>
					<td>性别</td>
					<td>
						<input type="radio" name="radios" value="男" v-model="items.ssex"/>男
						<input type="radio" name="radios" value="女" v-model="items.ssex"/>女
					</td>
				</tr>

			</table>
			<table  class="layui-table" id="chaxuns">
				<tr>
					<button class="layui-btn" onclick="save1()">保存</button>
					<button class="layui-btn layui-btn-primary" onclick="autosave1()">保存并关闭</button>
					<!--<button class="layui-btn layui-btn-primary">保存并新增</button>-->
					<button class="layui-btn layui-btn-primary" onclick="close1()">关闭</button>
				</tr>
			</table>
		</div>

		<div id="studentshow" style="width: 500px;display: none;">
			<table  class="layui-table" id="xinzen"  >
				<tr>
					<td>账号</td>
					<td class="tdn">
						<input type="text"  onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/><span style="font-size: 5px;color: #0f6c8d">除数字外的字符无法写入</span>
					</td>
				</tr>
				<tr>
					<td>姓名</td>
					<td class="tdn">
						<input type="text"  onkeyup="value=value.replace(/[\d]/g,'') " /><span style="font-size: 5px;color: #0f6c8d">只能输入字母和汉字</span>
					</td>
				</tr>
				<tr>
					<td>密码</td>
					<td class="tdn">
						<input type="text" onKeyUp="value=value.replace(/[\W]/g,'')"/><span style="font-size: 5px;color: #0f6c8d">只能输入数字和字母</span>
					</td>
				</tr>
				<tr>
					<td>所属部门</td>

					<td class="tdn">
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>性别</td>
					<td>
						<input type="radio" name="radios" value="男" />男
						<input type="radio" name="radios" value="女" />女
					</td>
				</tr>

			</table>
			<table  class="layui-table" id="">
				<tr>
					<button class="layui-btn" onclick="addxinzen()">新增</button>
					<button class="layui-btn layui-btn-primary" onclick="autoxinzen()">保存并新增</button>
					<button class="layui-btn layui-btn-primary" onclick="stuclose()">关闭</button>
				</tr>
			</table>
		</div>
	</body>

	<script>
        var flag3=0;
		//新增学生模块
		//显示出学生界面
		function addstudent() {

            indexs=layer.open({
                area: ['600px', '500px'],
                title:"新增用户",
                type: 1,
                content: $('#studentshow'),
                end: function () {
                    location.reload();
                }

            });
            $("#studentshow :input[type='text']").each(function(i){
               this.value=" ";
            });


        }
        //关闭按钮
		function stuclose() {
			layer.close(indexs);
        }
        //新增按钮
		function addxinzen() {

            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var hour = date.getHours();
            var min = date.getMinutes();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            var nowDate = year + "-" + month + "-" + day + " "+hour+":"+min;
            //建立数组，存放input里面的值
            var arrs=[];
            $("#studentshow :input[type='text']").each(function(i){
                arrs.push(this.value);
            });
            //获取到性别
            var sex=$("#studentshow :input[name='radios']:checked").val();
			if(sex!="男"&&sex!="女")
			{
			    sex="";
			}

            //创建对象
			var obj={};
			obj.sid=0;
			obj.snumber=Trim(arrs[0]);
			obj.sname=Trim(arrs[1]);
			obj.spassword=Trim(arrs[2]);
			obj.sdep=Trim(arrs[3]);
			obj.ssex=Trim(sex);
			obj.screatdate=nowDate;
			obj.b1="";
            obj.b2="";
            obj.b3="";
			if(obj.snumber==""||obj.sname==""||obj.spassword==""){
				confirm("请务必输入账号,姓名和密码")
				flag3=1;
			}
			else{flag3=0}

			if(flag3==0){
                console.log(obj)
			    $.post("insert.do",{stu:JSON.stringify(obj)},function(data){});
			}


        }
        function autoxinzen() {
            addxinzen();
            if(flag3==0){ stuclose();}


        }
	</script>



	<script>
		var vueapp = new Vue({
			el: "#app",
			data: {
				data: [],
				pseons: [],
				selectall: false
			},
			methods: {
				//留着
				changes: function(str) {
					window.top.vue.change(str);
				},
				//触发查询
				add: function(str) {
                    $.post("tiaojian.do",{seltiaojian:str}, function (data) {
                        pseon = data;
                        pseon.forEach(item => item.check = false);
						vueapp.pseons = pseon;

                });
				},
				//全选
				checkall: function() {
					if(this.selectall) {
						this.pseons.forEach(item => item.check = false);
					} else {
						this.pseons.forEach(item => item.check = true);
					}
				},
				//编辑按钮触发
				banji: function(i) {
					//vueshow.bainjishows=this.pseons[i];
					console.log(this.pseons[i])
					indexs=layer.open({
						area: ['600px', '500px'],
						title:"用户编辑",
						type: 1,
			  			content: $('#bainjishow'),
						end: function () {
                        location.reload();
                    }

					});
					var sdata=[getname(this.pseons[i])];

                    vueshow.bainjishows=sdata;

				},
                del:function(index){
				    if(confirm("删除账号将会删除考生成绩数据等，且可能会导致考生的终端设备无法再次参加考试，确认要删除吗?")){
				        var ind=this.pseons[index].sid;
                    	this.pseons.splice(index,1);
                        $.post("deleteone.do",{selsid:ind},function(data){});
                    }
                }
			},
			watch: {
				pseons: {
					handler(val, oldVal) {
						if(this.pseons.filter(item => item.check == true).length == this.pseons.length) {
							this.selectall = true;
						} else {
							this.selectall = false;
						}
					},
					deep: true
				}
			}
		});
		var vueshow=new Vue({
			el:"#bainjishow",
			data:{
				bainjishows:[]
			}
		});
        var vueadd=new Vue({
            el:"#studentshow",
            data:{
                studentshows:[]
                //
            }
        });
		var indexchaxun = true;
		$("#chaxun").click(function() {
			if(indexchaxun) {
				$("#chaxuns").css("display", "block");
				indexchaxun = false;
			} else {
				$("#chaxuns").css("display", "none");
				indexchaxun = true;
			}
		})
		var index=layui.use(['element','layer'], function() {
			var element = layui.element;
			var layer = layui.layer;
		});
	</script>

	<script>
        function close1() {
            layer.close(indexs);
        }
        function save1() {
            $.post("savestu.do",{sdata1:JSON.stringify(vueshow.bainjishows)},function(data){});
        }
        function autosave1() {
			save1();
			close1();
        }
	</script>


	<script>
        $.post("stuselAll.do",function(data){
            var data1=[];
            for(var i in  data)
            {
                var data2={}
                if(data[i].sdep!=null&&data[i].sdep!=""){
                    var str=data[i].sdep.split("/");
                    var str1=str[0];
                    var str2=str[1];
                    data2.name=str1;
                    data2.list=[];
                    data2.list.push(str2)
                    if(data1.length==0){
                        data1.push(data2)
                    }
                    else {
                        var flag=0;
                        for(var j=0;j<data1.length;j++){
                            if(data2.name==data1[j].name){
                                for (var k = 0; k < data1[j].list.length; k++) {
                                    var flag1=0;
                                    if(data2.list[0]!=data1[j].list[k])
                                    {
                                        flag1=1
                                    }
                                    else {
                                        flag1=0;
                                        break;
                                    }
                                }
                                if(flag1!=0)
                                {
                                    data1[j].list.push(data2.list[0]);
                                }
                                flag=1;
                            }
                        }
                        if(flag==0)
                        {
                            data1.push(data2);
                        }
                    }
				}


            }

            vueapp.data=data1;
            data.forEach(item => item.check = false)
            vueapp.pseons=data;
        });
	</script>

<script>
	function deleteall(){
        var arr=[];
	    var yanall=confirm("是否将选择的全部学生进行删除，删除账号将会删除考生成绩数据等,且可能会导致考生的终端设备无法再次参加考试")
		if(yanall){
                $("input[name='test']:checked").each(function() { // 遍历选中的checkbox
                    n = $(this).parents("tr").index();  // 获取checkbox所在行的顺序
                    $("table#tabless").find("tr:eq("+n+")").remove();
                });
            vueapp.pseons.filter(function (vues) {
                if(vues.check==true)
                {
                    arr.push(vues.sid);
                }
            });
            $.ajax({
                url: 'deleteAll.do',
                type: 'POST',
                dataType: "json",
                traditional:true,
                async: false,
                data: {
                    'ids': arr
                },
                success: function (data) {

                },
                error: function (data) {

                }
            });
		}

	}
</script>

	<script>
        function getname(obj) {
            var opj=new Object();
            for(var i in obj){
                opj[i]=obj[i];
            }
            return opj;
        }
        function Trim(str)
        {
            return str.replace(/(^\s*)|(\s*$)/g, "");
        }
        layui.use(['element','layer','laydate'], function() {
            var element = layui.element;
            var layer = layui.layer;
            var laydate = layui.laydate;
            laydate.render({
                elem: "#datatim1" //指定元素
                ,type: 'datetime'
            });
            laydate.render({
                elem: "#datatim2" //指定元素
                ,type: 'datetime'
            });
        });



	</script>

</html>