<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>创建考试</title>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css" />
		<script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
		<script src="js/layui/layui.js"></script>
		<script src="js/vue/vue.min.js"></script>
		<style type="text/css">
			.centermain{text-align: center;}
			ul li {
				width: 300px !important;
			}
			
			.layui-tab-content {
				height: 900px !important;
			}
			
			table {
				/*width: 1200px !important;*/
				margin: auto;
			}
			.activeshow{
				display: none;
			}
			.btnss{text-align: center;}
			#showstable{
				width: 1100px;
				margin: auto;
			}
			.redfont{
				color: red;
				font-weight: bold;
				font-style:oblique;
				font-size: 17px
			}
		</style>
	</head>

	<body>
		<div class="layui-tab layui-tab-card" class="centermain">
			<ul class="layui-tab-title">
				<li class="layui-this">考试信息</li>
				<li>设计试卷</li>
				<li>发布试卷</li>
			</ul>
			<div class="layui-tab-content" style="height: 100px;" id="apps">
				<div class="layui-tab-item layui-show">
					<div id="showstable">
					<div>
						<h4>基本信息</h4>
						<table class="layui-table">
							<tr>
								<td>考试名称</td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td>考试须知</td>
								<td><textarea>
    					可以交白卷
    				</textarea></td>
							</tr>
						</table>
					</div>
					<div class="kaoshianpai">
						<h4>参加方式</h4>
						<div>
							<table class="layui-table">
								<tr>
									<td rowspan="4">考生参加方式</td>
									<td><input type="radio" name="fshi" v-on:click="kaoshimethod('0')" checked="checked"/>
										<a>免登录考试</a>
									</td>
								</tr>
								<tr>
									<td><input type="radio" name="fshi"  v-on:click="kaoshimethod('1')"/>
										<a>口令考试</a>
									</td>
								</tr>
								<tr>
									<td><input type="radio" name="fshi"  v-on:click="kaoshimethod('0,1')"/>
										<a>免登录+口令考试</a>
									</td>
								</tr>
								<tr>
									<td><input type="radio" name="fshi"  v-on:click="kaoshimethod('2')"/>
										<a>安排考试</a>
									</td>
								</tr>
							</table>
						</div>
						<!--//免登录考试-->
						<div v-bind:class="{'activeshow':dateshow[0]}" >
							<table class="layui-table">
								<tr>
									<td rowspan="2">
										设置考生信息
									</td>
									<td>字段名称</td>
									<td>格式要求</td>
									<td>是否必填</td>
									<td>操作</td>
								</tr>
								<tr>
									<td>
										<input type="text" value="名字" />
									</td>
									<td>
										<select>
											<option value="文本">文本</option>
											<option value="文本">选择框</option>
											<option value="文本">手机号码</option>
											<option value="文本">文本</option>
											<option value="文本">文本</option>
										</select>
									</td>
									<td><input type="checkbox" /></td>
									<td></td>
								</tr>
							</table>
						</div>
						<!--//口令考试-->
						<div v-bind:class="{'activeshow':dateshow[1]}">
							<table class="layui-table">
								<tr>
									<td>考试口令</td>
									<td><input type="text" /></td>
								</tr>
							</table>
						</div>
						<!--安排考试-->
						<div v-bind:class="{'activeshow':dateshow[2]}">
							
						
						<table class="layui-table">
							<tr>
								<td rowspan="2">考生安排</td>
								<td>
									<button>指定考生</button>
									<button>指定部门</button>
									<button>删除</button>
								</td>
							</tr>
							<tr>
								<td>
									<table class="layui-table">
										<tr>
											<th><input type="checkbox" />全部</th>
											<th>考试信息</th>
											<th>所属部门</th>
											<th>电话号码</th>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						</div>
						<div class="btnss">
							<button class="layui-btn layui-btn-radius layui-btn-normal">保存&去设计试卷</button>
						</div>
					</div>
					</div>
				</div>
				<!--设计试卷-->
				<div class="layui-tab-item">
					<div id="app1">
						<div>
							<button v-on:click="chuangjian" class="layui-btn layui-btn-normal">创建试题大题</button>
							<span>共<label class="redfont">{{subjectmain.length}}</label>道大题，共<label class="redfont">{{scores}}</label>分</span>
						</div>
						<div>
							<table class="layui-table" v-for="item,index in subjectmain">
								<tr>
									<th>第<label class="redfont">{{item.titl}}</label>大题（<label class="redfont">{{item.main.length}}</label>道试题，共<label class="redfont">{{item.allscore}}</label>分）</th>
									<th>
										<select v-model="item.type">
											<option value="单选题">单选题</option>
											<option value="多选题">多选题</option>
											<option value="判断题">判断题</option>
											<option value="填空题">填空题</option>
											<option value="问答题">问答题</option>
											<option value="程序题">程序题</option>
										</select>
									</th>
									<th>
										<button class="layui-btn layui-btn-radius layui-btn-primary" v-on:click="ctqxz(index)">从题库选择</button>
										<button class="layui-btn layui-btn-radius layui-btn-primary">新增试题</button>
									</th>
									<th>
										<button class="layui-btn layui-btn-radius layui-btn-primary">快速新增</button>
										<button class="layui-btn layui-btn-radius layui-btn-primary">导入试题</button>
									</th>
									<th><button v-on:click="shanchu(index)" class="layui-btn layui-btn-radius layui-btn-danger">删除大题</button></th>
									<th></th>
								</tr>
								<tr>
									<th>序号</th>
									<th>试题类型</th>
									<th>试题内容</th>
									<th>标准答案</th>
									<th>分数</th>
									<th>操作</th>
								</tr>
								<tr v-for="items,indexs in item.main">
									<td>{{indexs+1}}</td>
									<td>{{item.type}}</td>
									<td>{{items.tname}}</td>
									<td>{{items.answer}}</td>
									<td><input type="text" v-bind:value="subjectmain[index].main[indexs].fenshu" v-model="subjectmain[index].main[indexs].fenshu" @blur="changefenshu(index,indexs,subjectmain[index].main[indexs].fenshu)"/></td>
									<td><button class="layui-btn layui-btn-warm">查看</button><button class="layui-btn layui-btn-danger" v-on:click="deleteonetq(index,indexs)">删除</button></td>
								</tr>
							</table>
						</div>
						<div>
							<button class="layui-btn">完成设计&去分布考试</button>
							<button class="layui-btn layui-btn-warm">试卷浏览</button>
							<button class="layui-btn layui-btn-warm">返回上一步</button>
						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<div>
						<h4>以下列任意一种方式通知考生参加考试</h4>
						<p>1.将二维码发给考试</p>
						<p>2.复制连接发给考生，打开连接参加考试</p>
						<input type="text" />
					</div>
				</div>
			</div>
		</div>
		<!--修改分数-->
		<div id="xiugaifenshu" class="activeshow">
			<input type="text" />
			<button id="guanbi">确定</button>
		</div>
	</body>
	<script>
		//获取到新增题目的题库编号
		localStorage.setItem("kaoshiqbid",30);
		//获取到当前试卷的编号
		localStorage.setItem("kaoshitpid",5);
		//显示四中方式的
		var dateshow=[false,true,true];
		//题目的显示
		var subjectmain=[{
		    titl:"",
			type:"",
			numbers:-1,
			allscore:0,
			main:[]
		}]
		var dataobj={tqid:"",tpid:"",tqbigtitile:"",tqnum:"",qbid:"",tqscore:""}
		var vueapps=new Vue({
			el:"#apps",
			data:{
				dateshow:dateshow,
				subjectmain:subjectmain,
                scores:0
			},
			methods:{
				kaoshimethod:function(str){
					var arr=str.split(",");
					for(var i=0;i<this.dateshow.length;i++){
						this.dateshow.splice(i,1,true);
					}
					for(var i=0;i<arr.length;i++){
						this.dateshow.splice(arr[i],1,false);
					}
				},
				//创建大题
				chuangjian:function(){
					var i=this.subjectmain.length+1;
					var obj={titl:i,type:"",numbers:-1,allscore:0,main:[]}
					this.subjectmain.push(obj)
				},
				//删除大题
				shanchu:function(k){
				    if(confirm("确定要删除大题吗？")){
                        //获取到要删除的大题编号
                        tqbigtitlel=subjectmain[k].titl;
                        //页面中删除大题
                        this.subjectmain.splice(k,1);
                        for(var j=0;j<this.subjectmain.length;j++){
                            this.subjectmain[j].titl=j+1;
                        }
                        //所有的题目序号改变
                        var indexss=0;
                        for (var i = 0; i < vueapps.subjectmain.length; i++) {
                            for (var j = 0; j < vueapps.subjectmain[i].main.length; j++) {
                                indexss+=1;
                                vueapps.subjectmain[i].main[j].numberss=indexss;
                            }
                        }
                        //数据库中删除大题
                        /*将需要修改的题目对应的tqid和tqnum放入数组*/
                        var tqids="";
                        var tqnums="";
                        var tqbigtitles=""
                        for (var i = 0; i < vueapps.subjectmain.length; i++) {//对大题进行循环
                            for (var j = 0; j < vueapps.subjectmain[i].main.length; j++) {//对内部进行循环
                                tqids+=vueapps.subjectmain[i].main[j].tqid+",";
                                tqbigtitles+=vueapps.subjectmain[i].titl+",";
                                tqnums+=vueapps.subjectmain[i].main[j].numberss+",";
                            }
                        }
                        /*数据处理完毕之后，传入指定的参数*/
                        $.post("testpaperdeletebig.do",{
                            tpid:localStorage.getItem("kaoshitpid"),
                            tqbigtitle:tqbigtitlel,
                            tqids:tqids,
                            tqbigtitles:tqbigtitles,
                            tqnums:tqnums
                        },function(data){
                            alert(data);
                        })
					}
				},
				//删除题目
                deleteonetq:function(i,j){
				    if(confirm("确定要删除吗？")){
                        //获取到对应的数据
                        //获取到对应的tqid
                        var tqid=subjectmain[i].main[j].tqid;
                        //页面中删除小题
                        subjectmain[i].main.splice(j,1)
                        subjectmain[i].numbers-=1;
                        //所有的题目序号改变
                        var indexss=0;
                        for (var i = 0; i < vueapps.subjectmain.length; i++) {
                            for (var j = 0; j < vueapps.subjectmain[i].main.length; j++) {
                                indexss+=1;
                                vueapps.subjectmain[i].main[j].numberss=indexss;
                            }
                        }
                        //数据库中删除小题
                        /*将需要修改的题目对应的tqid和tqnum放入数组*/
                        var tqids="";
                        var tqnums="";
                        for (var i = 0; i < vueapps.subjectmain.length; i++) {//对大题进行循环
                            for (var j = 0; j < vueapps.subjectmain[i].main.length; j++) {//对内部进行循环
                                tqids+=vueapps.subjectmain[i].main[j].tqid+",";
                                tqnums+=vueapps.subjectmain[i].main[j].numberss+",";
                            }
                        }
                        /*数据处理完毕之后，传入指定的参数*/
                        $.post("testpaperdelete.do",{
                            tqid:tqid,
                            tqids:tqids,
                            tqnums:tqnums
                        },function(data){
                            alert(data);
                        })
					}
				},
				//分数的改变
                changefenshu:function(i,j,x){
				    //页面中显示的分数的修改
				    vueapps.scores=0;
				    var tqscore=parseFloat(x);
                    subjectmain[i].main[j].fenshu=parseFloat(x);
                    var tqid=subjectmain[i].main[j].tqid;
                    for (var k = 0; k < subjectmain.length; k++) {
                        subjectmain[k].allscore=0;
                    }
                    for (var i = 0; i < subjectmain.length; i++) {
                        for (var j = 0; j < subjectmain[i].main.length; j++) {
                            subjectmain[i].allscore+=subjectmain[i].main[j].fenshu;
                        }
                        vueapps.scores+=subjectmain[i].allscore;
                    }
					//数据库中对应的分数修改
                    $.post("changescore.do",{
                        tqid:tqid,//获取到当前分数对应的tqid
                        tqscore:tqscore//修改后的分数
                    },function(data){
                        if(data!=null)
                            console.log("分数修改成功");
                    })
				},
				//从题库选择
				ctqxz:function (index) {//index大题所对应的下标
                    $.post("tikufindine.do", {
                        qbid:localStorage.getItem("kaoshiqbid")
                    }, function (data) {
                        var maindata={tname:"",titllist:"",answer:"",fenshu:2,tqid:0};//往页面自带的对象中放数据
                        maindata.tname=data.qbtext;
                        maindata.titllist=data.qboptions;
                        maindata.answer=data.qbanswer;
                        subjectmain[index].allscore+=maindata.fenshu;
                        vueapps.scores+=maindata.fenshu;
                        subjectmain[index].main.push(maindata);
                        subjectmain[index].numbers+=1;//成功后numbers加1
						subjectmain[index].type=data.qbtype;
                        var indexss=0;
                        for (var i = 0; i < vueapps.subjectmain.length; i++) {
                            for (var j = 0; j < vueapps.subjectmain[i].main.length; j++) {
                                indexss+=1;
                                vueapps.subjectmain[i].main[j].numberss=indexss;
                            }
                        }
                        dataobj.tpid=localStorage.getItem("kaoshitpid");//哪张试卷
                        dataobj.tqbigtitile=subjectmain[index].titl;//第几大题
                        dataobj.tqnum=subjectmain[index].main[subjectmain[index].numbers].numberss;//题目序号
                        dataobj.qbid=localStorage.getItem("kaoshiqbid");//所属题库题目的id
                        dataobj.tqscore=subjectmain[index].main[subjectmain[index].numbers].fenshu;//该题对应大题的小题分数
						/*将需要修改的题目对应的tqid和tqnum放入数组*/
						var tqids="";
						var tqnums="";
                        for (var i = 0; i < vueapps.subjectmain.length; i++) {//对大题进行循环
                            for (var j = 0; j < vueapps.subjectmain[i].main.length; j++) {//对内部进行循环
								tqids+=vueapps.subjectmain[i].main[j].tqid+",";
								tqnums+=vueapps.subjectmain[i].main[j].numberss+",";
                            }
                        }
						/*数据处理完毕之后，往数据库中插入数据*/
                        $.post("testpaperinsert.do",{
                            tpid:dataobj.tpid,
                            tqbigtitile:dataobj.tqbigtitile,
                            tqnum:dataobj.tqnum,
                            qbid:dataobj.qbid,
                            tqscore:dataobj.tqscore,
							tqids:tqids,
                            tqnums:tqnums
                        },function(data){
                            dataobj.tqid=data;
                            subjectmain[index].main[subjectmain[index].numbers].tqid=data;
                        })
                    })//post请求结束

                }
			}
		})
		//注意：选项卡 依赖 element 模块，否则无法进行功能性操作
		var index=layui.use(['element','layer'], function() {
			var element = layui.element;
			var layer = layui.layer;
		});
		$(".showbtn").on('click','button',function(e){
			var x1 = $(this).offset().left-60;
            var y1 = $(this).offset().top-70;
			console.log(x1+","+y1)
			$(this).removeClass("activeshow");
		  	layer.open({
		  		offset:[y1+'px',x1+'px'],
			  	type: 1,
			  	content: $('#xiugaifenshu') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
			});
		  })
		$("#guanbi").click(function(){
			console.log("fdf")
			layer.close(layer.index);
		})
		//页面加载时从数据库读取数据
        $.post("kaoshi1.do", {
            tpid:localStorage.getItem("kaoshitpid")
        }, function (data) {
            var tqtitle=0;//记录大题,默认第一个大题
            subjectmain[tqtitle].titl=1;
            for (var i = 0; i < data.length; i++) {
                var maindata={tname:"",titllist:"",answer:"",fenshu:0,tqid:0};
                maindata.tname=data[i].qbtext;
                maindata.titllist=data[i].qboptions;
                maindata.answer=data[i].qbanswer;
                maindata.fenshu=data[i].tqscore;
                maindata.tqid=data[i].tqid;
                if(i==0){//如果是第一大题，我往里面新增一个
                    subjectmain[tqtitle].titl=data[i].tqbigtitle;
                    subjectmain[tqtitle].type=data[i].qbtype;
                    subjectmain[tqtitle].main.push(maindata);
                    subjectmain[tqtitle].numbers+=1;
                }else if(data[i].tqbigtitle==data[i-1].tqbigtitle){
                    subjectmain[tqtitle].titl=data[i].tqbigtitle;
                    subjectmain[tqtitle].type=data[i].qbtype;
                    subjectmain[tqtitle].main.push(maindata);
                    subjectmain[tqtitle].numbers+=1;
				}else{
                    tqtitle+=1;
                    var subjectdata={titl:"",type:"", numbers:-1, allscore:0,main:[]};
                    subjectdata.titl=data[i].tqbigtitle;
					subjectdata.type=data[i].qbtype;
                    subjectmain.push(subjectdata);
                    subjectmain[tqtitle].main.push(maindata);
                    subjectmain[tqtitle].numbers+=1;
				}
            }
            for (var i = 0; i < subjectmain.length; i++) {
                for (var j = 0; j < subjectmain[i].main.length; j++) {
                    subjectmain[i].allscore+=subjectmain[i].main[j].fenshu;
                }
                vueapps.scores+=subjectmain[i].allscore;
            }
        })
	</script>

</html>