<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>试卷管理</title>
    <link rel="stylesheet" type="text/css" href="js/layui/css/layui.css"/>
    <script src="js/layui/layui.js"></script>
    <script src="js/vue/vue.min.js"></script>
    <script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
    <style>
        .lefts {
            width: 600px;
            float: left;
        }

        .rigths {
            width: 600px;
            float: right;
        }

        .lefts td {
            text-align: left;
        }

        .tops {
            text-align: top !important;
        }

        .clearfloat:after {
            display: block;
            clear: both;
            content: "";
            visibility: hidden;
            height: 0
        }

        .clearfloat {
            zoom: 1
        }

        .shows {
            width: 200px;
            position: absolute;
            z-index: 100;
            background: white;
            /*margin-left: 185px;*/
        }

        .tdhi td {
            height: 23px;
            text-align: center;
        }

        .activeshow {
            display: none;
        }

        .bottoms {
            border-bottom: 1px solid gainsboro;

        }

        .bottomsacrive {
            border-left: 5px solid #53A4F4;
        }
    </style>
</head>
<body>
<div class="layui-tab-item layui-show" id="app">
    <div>
        <table class="layui-table">
            <tr>
                <td align="left">考试管理</td>
                <td align="right">
                    <button class="layui-btn layui-btn-normal">创建考试</button>
                    <button class="layui-btn layui-btn-normal">考试分析</button>
                    <button class="layui-btn layui-btn-normal">试题分析</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="layui-tab layui-tab-brief clearfloat" lay-even lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this" v-on:click="jxz">进行中（）</li>
            <li v-on:click="chaxun('未开始')">未开始（）</li>
            <li v-on:click="chaxun('已结束')">已结束（）</li>
            <li v-on:click="quanbu">全部（）</li>
        </ul>
        <div class="layui-tab-content as">
            <div class="clearfloat bottoms" v-for="item,index in data">

                <div class="lefts">
                    <table class="layui-table">
                        <tr>
                            <td rowspan="5">二维码</td>
                            <td>{{item.tpname}}</td>
                        </tr>
                        <tr>
                            <td>参加方式：{{item.tytype}}</td>
                        </tr>
                        <tr>
                            <td>试卷总分：{{item.tpscore}}分</td>
                        </tr>
                        <tr>
                            <td>答题时间：{{item.tpdatitime}}分钟</td>
                        </tr>
                        <tr>
                            <td>有效时间：{{item.tpstartdate}} ~{{item.tpenddate }}</td>
                        </tr>
                    </table>
                </div>
                <div class="rigths">
                    <table class="layui-table" lay-skin="nob">
                        <tr>
                            <td>{{item.tpfabu}}</td>
                            <td>
                                <button class="layui-btn genduo">更多操作</button><br>
                                <div class="shows activeshow">
                                    <table class="tdhi">
                                        <tr>
                                            <td><a href="#">编辑考试</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">打开考试链接</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">复制考试链接</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">发送考试通知</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">查看发布信息</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">导出试卷</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">人工评分</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" v-on:click="shanchu(index)">删除考试</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">查看缺考人员</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">成绩统计</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">答案统计</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">查看考试反馈</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="5">{{item.sums==null?0:item.sums}}人参加</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <button class="layui-btn" v-on:click="chakanchengji(index)">查看成绩</button>
                                <button class="layui-btn" v-on:click="ksshezhi(index)">考试设置</button>
                                <button class="layui-btn">复制考试</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="apps" style="display: none">
    <table class="layui-table">
        <tr>
            <td>考试名称</td>
            <td><input type="text" v-model="data[0].tpname"/></td>
        </tr>
        <tr>
            <td>答题时间</td>
            <td><input type="text" v-model="data[0].tpdatitime"/></td>
        </tr>
        <tr>
            <td>有效时间</td>
            <td><input type="text" id="date11" v-model="data[0].tpstartdate" />至</td>
            <td><input type="text" id="date21" v-model="data[0].tpenddate"/></td>
        </tr>
        <tr>
            <td>
                <button v-on:click="quedings">确定</button>
            </td>

        </tr>
    </table>
</div>
</body>

<script>
    var vueapps=new Vue({
        el:"#apps",
        data:{
            data:[{tpname:"",tpdatitime:"",tpstartdate:"",tpenddate:""}]
        },
        methods:{
            quedings:function () {
                $.post("../updatetestpaperdata.do", {
                    name1:JSON.stringify(vueapps.data)
                }, function (data) {
                    console.log(data)
                    if(data>0){
                        alert("修改成功")
                    }else{
                        alert("修改失败")
                    }
                });
            }
        }
    });
    var vueap = new Vue({
        el: "#app",
        data: {
            data: [{}]
        },
        methods: {
            ksshezhi:function (i) {
                var arr=[getname(this.data[i])];
                vueapps.data=arr;
                layer.open({
                    area: ['600px', '500px'],
                    title:"用户编辑",
                    type: 1,
                    content: $('#apps')
                })
            },
            shanchu:function (i) {
                $.post("../deletetestpaperdata.do", {
                    id:this.data[i].tpid
                }, function (data) {
                       alert(data)
                });
            },
            jxz:function () {
                $.post("../testpaperdata.do", {}, function (data) {
                    vueap.data = data;
                });
            },
            chaxun:function (str) {
                $.post("../findfabutestpaperdata.do", {fabu:str}, function (data) {
                    vueap.data = data;
                });
            },
            quanbu:function () {
                $.post("../findallstestpaperdata.do", {}, function (data) {
                    console.log(data)
                    vueap.data = data;
                });
            },
            chakanchengji:function (i) {
                localStorage.setItem("testpaper",JSON.stringify(this.data[i]));
                window.top.vue.change("score/kaoshiqingk.html");
            }
        }
    });
    $("body").click(function () {
        $(".shows").addClass("activeshow");
    })
    $(".as").on('click', '.genduo', function (e) {
        $(this).parent().find(".shows").removeClass("activeshow");
        return false;
    });
    $(".layui-tab-content").on('mouseover', '.bottoms', function (e) {
        $(this).css('background-color', "whitesmoke");
        $(this).addClass("bottomsacrive");
        return false;
    });
    $(".layui-tab-content").on('mouseout', '.bottoms', function (e) {
        $(this).css('background-color', "white")
        $(this).removeClass("bottomsacrive")
        return false;
    });
    $.post("../testpaperdata.do", {}, function (data) {
        vueap.data = data;
    });
    layui.use(['element','layer','laydate'], function() {
        var element = layui.element;
        var layer = layui.layer;
        var laydate = layui.laydate;
        laydate.render({
            elem: "#date11" //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: "#date21" //指定元素
            ,type: 'datetime'
        });
    });
    function getname(obj) {
        var opj=new Object();
        for(var i in obj){
            opj[i]=obj[i];
        }
        return opj;
    }
    function funcs() {
        laydate.render({
            elem: "#date11" //指定元素
            ,type: 'datetime'
        });
    }
</script>
</html>
