<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="js/layui/css/layui.css"/>
    <script src="js/vue/vue.min.js"></script>
    <script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
    <style>
        #navul {
            float: left;
        }
        #center {
            float: left;
            width: 70%;
        }
    </style>
    <script src="js/layui/layui.all.js"></script>
</head>

<body>
<div id="app">
    <ul class="layui-nav layui-nav-tree" lay-filter="test" id="navul">
        <li>
        <li class="layui-nav-item">
            <a href="">全部</a>
        </li>
        </li>
        <li class="layui-nav-item layui-nav-itemed" v-for="items in data1">
            <a href="javascript:;" v-on:click="add(items.name)">{{items.name}}</a>
            <dl class="layui-nav-child">
                <dd v-for="item in items.list" v-on:click="add(items.name+'/'+item)">
                    <a href="javascript:;">{{item}}</a>
                </dd>
            </dl>
        </li>
    </ul>
    <div id="center">
        <table class="layui-table">
            <tr>
                <td>试题题库管理</td>
                <td>
                    <button class="layui-btn layui-btn-primary" id="chaxun">查询</button>
                    <button class="layui-btn layui-btn-primary" v-on:click="addnew()">新增试题</button>
                    <button class="layui-btn layui-btn-primary" v-on:click="href()">批量插入</button>
                    <button class="layui-btn layui-btn-primary">导出</button>
                    <button class="layui-btn layui-btn-primary" v-on:click="deleteall">批量删除</button>
                </td>
            </tr>
        </table>
        <table class="layui-table" id="chaxuns" style="display: none;">
            <tr>
                <td>题目关键词</td>
                <td><input type="text" id="chaxunkey"/></td>

                <td>题目类型</td>
                <td>
                    <select id="cxtype">
                        <option value="全部">全部</option>
                        <option value="单选题">单选题</option>
                        <option value="多选题">多选题</option>
                        <option value="判断题">判断题</option>
                        <option value="填空题">填空题</option>
                        <option value="问答题">问答题</option>
                        <option value="程序题">程序题</option>
                    </select>
                </td>

                <td>创建时间</td>
                <td><input type="text" placeholder="请选择日期" id="test1" >
                    到</td>
                <td><input type="text" placeholder="请选择日期" id="test2">
                </td>

                <td>
                    <button class="layui-btn layui-btn-primary" v-on:click="chaxunin">查询</button>
                    <button class="layui-btn layui-btn-primary" v-on:click="chongzhi">重置</button>
                </td>
            </tr>
        </table>
        <table class="layui-table">
            <tr>
                <th style="width: 90px"><input type="checkbox" v-model="selectall" v-on:click="checkall"/>全选</th>
                <th style="width: 108px">试题分类</th>
                <th style="width: 90px">题型</th>
                <th style="width: 395px">试题内容</th>
                <th style="width: 180px">标准答案</th>
                <th style="width: 105px">试题难度</th>
                <th style="width: 195px">创建时间</th>
                <th style="width: 210px">操作</th>
            </tr>
            <tr v-for="item,index in pseons">
                <td><input name="test" type="checkbox" v-model="item.check"/></td>
                <td>{{item.qboutline}}</td>
                <td>{{item.qbtype}}</td>
                <td>{{item.qbtext}}</td>
                <td>{{item.qbanswer}}</td>
                <td>{{item.qbdifficulty}}</td>
                <td>{{item.qbcreatetime}}</td>
                <td>
                    <button class="layui-btn layui-btn-warm" v-on:click="bianji(index)">编辑</button>
                    <button class="layui-btn layui-btn-danger" v-on:click="deleteone(index)">删除</button>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
<script>
    var data1 = [];
    var vueapp = new Vue({
        el: "#app",
        data: {
            data: data1,
            pseons: [],
            selectall: false
        },
        methods: {
            //留着
            changes: function (str) {
                window.top.vue.change(str);
            },
            //触发查询
            add: function (str) {
                $.post("tikuchaoutline.do", {
                    qboutline:str
                }, function (data) {
                    pseon = data;
                    pseon.forEach(item => item.check = false);
                    vueapp.pseons = pseon;
                    console.log(str);
                })
            },
            //全选
            checkall: function () {
                if (this.selectall) {
                    this.pseons.forEach(item => item.check = false );
                } else {
                    this.pseons.forEach(item => item.check = true);
                }
            },
            //批量插入跳转页面
            href:function() {
                window.location.href="shiticharu.html";
            },
            //新增试题
            addnew: function () {
                layer.open({
                    title: '试题新增',
                    maxmin: true,
                    type: 2,
                    content: 'shitixinzeng.html',
                    area: ['1000px', '500px']
                });
            },
            //编辑试题
            bianji:function(i){
                localStorage.setItem("bianjioneqbcreatetime", vueapp.pseons[i].qbcreatetime);
                localStorage.setItem("bianjioneqbid", vueapp.pseons[i].qbid);
                localStorage.setItem("bianjioneqboutline", vueapp.pseons[i].qboutline);
                localStorage.setItem("bianjioneqbtype", vueapp.pseons[i].qbtype);
                localStorage.setItem("bianjioneqbtext", vueapp.pseons[i].qbtext);
                localStorage.setItem("bianjioneqboptions", vueapp.pseons[i].qboptions);
                localStorage.setItem("bianjioneqbanswer", vueapp.pseons[i].qbanswer);
                localStorage.setItem("bianjioneqbdifficulty", vueapp.pseons[i].qbdifficulty);
                layer.open({
                    title: '试题编辑',
                    maxmin: true,
                    type: 2,
                    content: 'shitibianji.html',
                    area: ['1000px', '500px']
                });
            },
            //删除单个
            deleteone:function(i){
                if(confirm("确定要从题库中删除此条数据吗？")){
                    $.post("tikudeleteone.do",{
                        qbid:vueapp.pseons[i].qbid
                    },function(data){
                        if(confirm("删除成功！"))
                            window.location.reload();
                        window.location.reload();
                    })
                }
            },
            //批量删除
            deleteall:function(){
                var arr=[];
                if(confirm("是否将选择的试题进行删除，删除它们，它们将不能再被使用！")){
                    $("input[name='test']:checked").each(function() { // 遍历选中的checkbox
                        n = $(this).parents("tr").index();  // 获取checkbox所在行的顺序
                    });
                    vueapp.pseons.filter(function (vues) {
                        if(vues.check==true)
                        {
                            arr.push(vues.qbid);
                        }
                    });
                    $.ajax({
                        url: 'tikudeleteall.do',
                        type: 'POST',
                        dataType: "json",
                        traditional:true,
                        async: false,
                        data: {
                            'ids': arr
                        },
                        success: function (data) {
                            if(confirm("删除成功！"))
                                window.location.reload();
                            window.location.reload();
                        },
                        error: function (data) {
                            if(confirm("删除失败！"))
                                window.location.reload();
                            window.location.reload();
                        }
                    });
                }
            },
            //查询功能
            chaxunin:function () {
                $.post("tikuchaxun.do",{
                    qbtext:$("#chaxunkey").val(),
                    qbtype:$("#cxtype").val(),
                    starttime:$("#test1").val(),
                    endtime:$("#test2").val()
                },function(data){
                    pseon = data;
                    pseon.forEach(item => item.check = false);
                    vueapp.pseons = pseon;
                })
            },
            //重置
            chongzhi:function(){
                $("#chaxunkey").val("")
                $("#cxtype").val("全部")
                $("#test1").val("")
                $("#test2").val("")
            }
        },
        watch: {
            pseons: {
                handler(val, oldVal) {
                    if (this.pseons.filter(item => item.check == true).length == this.pseons.length)
                    {
                        this.selectall = true;
                    }
                else
                    {
                        this.selectall = false;
                    }
                },
                deep: true
            }
        }
    });
    $.post("tiku.do", {}, function (data) {
        pseon = data;
        pseon.forEach(item => item.check = false);
        vueapp.pseons = pseon;
        data1 = [];
        for (var i in  data) {
            var data2 = {}
            var str = data[i].qboutline.split("/");
            var str1 = str[0];
            var str2 = str[1];
            data2.name = str1;
            data2.list = [];
            data2.list.push(str2)
            if (data1.length == 0) {
                data1.push(data2)
            } else {
                var flag = 0;
                for (var j = 0; j < data1.length; j++) {
                    if (data2.name == data1[j].name) {
                        for (var k = 0; k < data1[j].list.length; k++) {
                            var flag1 = 0;
                            if (data2.list[0] != data1[j].list[k]) {
                                flag1 = 1
                            } else {
                                flag1 = 0;
                                break;
                            }
                        }
                        if (flag1 != 0) {
                            data1[j].list.push(data2.list[0]);
                        }
                        flag = 1;
                    }
                }
                if (flag == 0) {
                    data1.push(data2);
                }
            }
        }
    });

    var vueshow = new Vue({
        el: "#bainjishow",
        data: {
            bainjishows: []
        }
    })
    var indexchaxun = true;

    $("#chaxun").click(function () {
        if (indexchaxun) {
            $("#chaxuns").css("display", "block");
            indexchaxun = false;
        } else {
            $("#chaxuns").css("display", "none");
            indexchaxun = true;
        }
    })
    layui.use('laydate', function() {
        laydate = layui.laydate;
        laydate.render({
            elem: "#test1" //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: "#test2" //指定元素
            ,type: 'datetime'
        });
    });
</script>

</html>